<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ZSD_SHCAD_BUSCAR_PRECIO_soap12">
                    <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Default" maxBufferSize="65536" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </mtomMessageEncoding>
                    <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Basic"
                        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" requireClientCertificate="false" />
                </binding>
                <binding name="zfi_ws_pago_soap12">
                    <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Default" maxBufferSize="65536" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </mtomMessageEncoding>
                    <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Basic"
                        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" requireClientCertificate="false" />
                </binding>
                
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://vhfdeds4ci.sap.schad.do:44300/sap/bc/srt/rfc/sap/zfi_ws_pagos/110/zfi_ws_pago/zfi_ws_pago?sap-client=110"
                binding="customBinding" bindingConfiguration="zfi_ws_pago_soap12"
                contract="ServiceReferenceCobro.ZFI_WS_PAGOS" name="zfi_ws_pago_soap12" />
            
            <endpoint address="https://vhfdeds4ci.sap.schad.do:44300/sap/bc/srt/rfc/sap/zsd_shcad_buscar_precio/110/zsd_shcad_buscar_precio/zsd_shcad_buscar_precio?sap-client=110"
                binding="customBinding" bindingConfiguration="ZSD_SHCAD_BUSCAR_PRECIO_soap12"
                contract="ServiceReferencePrice.ZSD_SHCAD_BUSCAR_PRECIO" name="ZSD_SHCAD_BUSCAR_PRECIO_soap12" />
        </client>
    </system.serviceModel>
</configuration>